body{
    text-align: center;
    background-color: palegreen;
}
img{
    width: 85%;
}
#left{
    float: left;
    margin-left: 165px;
    margin-right: 15px;
}
#right{
    float: right;
    margin-right: 165px;
    margin-left: 15px;
}
h2{
    padding-top: 220px;
}
h1{
    padding-top: 30px;
}